html {
    width: 100%;
    height: 100%;

}


body {
    width: 100%;
    height: 100%;
    font-family: 'Lekton', sans-serif;
}

h1, h2, h3, h4, h5, h6{
 font-family: 'Lekton', sans-serif;
}
.navbar {
    margin-bottom: 0;
    border: 0 !important;
    font-size: 20px !important;
    letter-spacing: 4px;
    font-family: 'Lekton', sans-serif;
    font-weight: bold;
    opacity: 0.75;
}

.navbar-inverse {
    background-color: #704214 !important; 
    border: 0 !important;
   
}

.navbar-nav li.active a {
    background-color: transparent !important;
    
}

.navbar-inverse .navbar-nav li a{
color: black;
}

.navbar-brand{
color: black !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
    font-size: 20px !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: #704214 !important;
}


.main-page {
  background: url("../img/main-page.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 120px;
  height: 100%;
}

.project-logo{
    height: 100%;  
    width: 100%;
}

.project-logo:hover {
      border-color:  #704214;
      border: 3px solid;
      border-radius: 0px;
  }

#intro-text {
  color: white;
  text-align: left;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  font-weight: bold;

}

.quotes{
  padding-top: 95px;
  color: white;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  font-weight: bold;
}

.skills {
  padding-top:60px; 
  height: auto;
  text-align: center;
  font-size: 16px;
  color: #704214;
  padding-bottom: 120px;
  font-family: 'Lekton', sans-serif;
}  

.work-experience {
  padding-top:60px; 
  height: auto;
  text-align: center;
  font-size: 16px;
  color: #704214;
  font-family: 'Lekton', sans-serif; 
}



.projects {
  padding-top:120px; 
  height: auto;
  text-align: center;
  font-size: 16px;
  color: #704214;
  border: 5px;
  border-color: #704214;
  padding-bottom: 120px;
  font-family: 'Lekton', sans-serif;


}


.contact {
  text-align:;
  font-family: 'Lekton', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: black;
   background: url("../img/contact.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 120px;
  height: 100%;
}


#profile_photo{
	width: 380px; 
	height: 253px; 
	border-radius: 25px;
        float:right;
        }

.logo {
font-size: 20px;
}



.education-logo{
    border: 3px solid transparent;
    margin-bottom: 25px;
    height: 60%;  
    width: 60%;  
    border-radius: 25px;
    padding: 3px;
}

  .education-logo:hover {
      border-color:  #704214;
      padding: 0px;
  }


.skill:hover {
    background-color:  #704214;
    color: white;
}

.studies {

color: #704214;
background-color: white; 
border-radius: 25px;
border: 10px; 
border-color: black;
}

 .skill {

color: #704214;
background-color: white; 
 border-radius: 15px;
 }

.w3-btn{
background-color: white; 
color:#704214; 
padding: 5px; 
border-radius: 10px;
}

.fa{
color: #704214;
}

a:link, a:visited { 
color: #704214;


}

.divider1{
background: url("../img/div.png") no-repeat center center; 
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
width: 100%;
height: 250px;
} 

.divider2{
background: url("../img/divider.png") no-repeat center center; 
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
width: 100%;
height: 250px;
}


.divider3{
background: url("../img/div3.png") no-repeat center center; 
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
width: 100%;
height: 250px;
}

.dummy{
width:100%;
height: 60px;
}

@media screen and (max-width: 640px){
.dummy{
width: 0px;
height: 0px;
}

.quotes{
padding-top: 0px; 
font-size: 30px;

}

.contact{
height: auto;
padding-top: 20px;
padding-bottom: 20px;
}

#profile_photo {
    width: 280px;
    height: 187px;
    float: initial;
}


}


